body{
    background-color: rgb(161, 161, 161);
}

#MenuStyle{
    text-align: center;
    border-radius: 8px;
    margin-left: 0;
    padding-left: 0;
}

.Main-Style{
    text-align: center;
}

.MenuStyleLinks{
    padding: 5px;
    background-color: rgb(99, 99, 99);
    text-decoration: none;
    border-radius: 3px;
    color:white;
    -webkit-box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.55);
    box-shadow: 4px 6px 12px 0px rgba(0,0,0,0.55);

}

.MenuStyleLinks:hover{
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(173, 173, 173, 0.7);
}

li {
    display: inline-block;
    padding-left: 15px;
    padding: 5px;
} 